**/venv/
**/venv_py311
**/models/
**/model_checkpoint/
**/data/
awscliv2.zip
webapp/node_modules/.cache/default-development/3.pack
*.pyc
experts/orchestrator_1_0_prompt_evaluation/venv/
experts/orchestrator_1_0_prompt_evaluation/__pycache__/
